[_GLOBALS]
HTTP_PORT = 7801
MUNKRES_PYTHONLIB = /home/bciv/dmd/scrubber/MIST_2_0_4/src/munkres-1.0.5.4
JCARAFE_JAR = /home/bciv/dmd/scrubber/MIST_2_0_4/src/jcarafe-0.9.8.5.b-06/jcarafe_xmlrpc-assembly-0.9.8.5.b-06-bin.jar
TABBED_TERMINAL_BIN = 
MAT_PKG_HOME = /home/bciv/dmd/scrubber/MIST_2_0_4/src/MAT
SUBPROCESS_STATISTICS = 
MAT_VERSION = 2.0.4
PSUTIL_PYTHONLIB = 
JCARAFE_SERVER_PORT = 8091
CHERRYPY_PYTHONLIB = /home/bciv/dmd/scrubber/MIST_2_0_4/src/CherryPy-3.1.2
MAT_PKG_PYLIB = /home/bciv/dmd/scrubber/MIST_2_0_4/src/MAT/lib/mat/python
PYTHONBIN = /usr/bin/python
YUI_JS_LIB = /home/bciv/dmd/scrubber/MIST_2_0_4/src/yui-2.6.0-dist
JAVA_BIN = /usr/bin/java
SUBPROCESS_DEBUG = 

